@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

/* 
cards-background : #efefef
 */

html {
  font-family: Raleway, sans-serif;
}
.card {
    background-color: #efefef;
}
/* HEADER */
    header .nav {
        display: flex;
        gap: 10px;
        align-items: center;
        position: absolute;
        top: 40px;
        right: 60px;
    }
/* HEADER */
/* MAIN */
main {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* MAIN */
/* FIRST SECTION */
.card{
    display: flex;
    align-items: center;
    align-content: center;
    height: 80vh;
}

.card .info {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
}

.card .info .title {
    font-size: 45px;
    font-weight: lighter;
    color: #747474;
}
.card .info .title b {
    font-weight: 900;
    color: black;
}
#template .info .text {
    font-style: italic;
    letter-spacing: 1px;
    line-height: 2;
}
#template .info .line {
    height: 80px;
    border-left: 1px solid black;
}
#template .img-hero {
    align-self: flex-end;
    width: 50%;
}

/* FIRST SECTION */
/* SECOND SECTION */
#name {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 120px;
    gap: 60px; 
    position: relative; 
}
#name .info .title-and-line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 40px;
}
#name .info .title-and-line .horizontal {
    width: 80px;
    border-top: 1px solid black;
    align-self: center;
}
#name .info .title-and-line .title {
    text-align: center;
}
#name .info .text {
    font-style: italic;
    letter-spacing: 1px;
}
.socials {
    display: flex;
    gap: 20px;
    padding-inline-start: 0px;
}
.socials .social {
    padding: 4px 8px;
    background-color: #909090;
    color: white;
}
/* SECOND SECTION */
/* THIRD SECTION */
.section-picture {
    object-fit: cover;
    height: 80vh;
}
/* THIRD SECTION */
/* FOURTH SECTION */

#featured {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

#featured .featured-hero {
    max-width: 40%;
    max-height: 100%;
}
#featured .text {
    max-width: 50%;
    font-style: italic;
}

#featured .info .line {
    height: 80px;
    border-left: 1px solid black;
}
/* FOURTH SECTION */
/* FIFTH SECTION */
    #gallery {
        display: flex;
        height: 80vh;
        justify-content: center;
    }
    #gallery .img {
        max-width: 30%;
    }
    #gallery .img:hover{
        transform: scale(1.3);
    }


/* FIFTH SECTION */